/* Navbar styles */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
  }
  
  .menu-toggle {
    display: none;
    cursor: pointer;
  }
  
  .menu {
    display: flex;
    list-style: none;
  }
  
  .menu li {
    margin-right: 20px;
  }
  
  .menu li:last-child {
    margin-right: 0;
  }
  
  .menu a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Mobile styles */
  @media screen and (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: center; /* Center menu on small screens */
    }
  
    .menu-toggle {
      display: block;
      font-size: 24px;
    }
  
    .menu {
      display: none;
      position: absolute;
      top: 90px; /* Adjust as needed based on navbar height */
      left: 0;
      width: 100%;
      background-color: #333; /* Background color for menu */
      padding: 10px 0;
      z-index: 1; /* Ensure menu is above other content */
    }
  
    .menu.active {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .menu.active li {
      margin: 10px 0; /* Add margin to each list item */
    }
  
    .close-button {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 24px;
      color: #fff;
      cursor: pointer;
    }
  }
  